.animatedTitle {
  position: relative;
  max-width: 60rem;
  font-size: 3.7rem;
  margin: 0 auto 2rem;

  span {
    transition-property: all;
    transition-duration: 4s;
    transition-timing-function: ease;
    text-transform: uppercase;
  }

  &.small {
    font-size: inherit;
    margin: 0;
    span {
      text-transform: none;
    }
  }
}

.wide {
  font-variation-settings: var(--font-variation-wide-animationEnd);
}

.normal {
  font-variation-settings: var(--font-variation-normal-animationEnd);
}

.narrow {
  font-variation-settings: var(--font-variation-narrow-animationEnd);
}

@media (min-width: 800px) {
  .animatedTitle {
    font-size: 6rem;

    &.small {
      font-size: inherit;
    }
  }
}

.letter {
  &[data-inview=true] {
    &.wide {
      font-variation-settings: var(--font-variation-wide-animationEnd) !important;
    }
    
    &.normal {
      font-variation-settings: var(--font-variation-normal-animationEnd) !important;
    }
    
    &.narrow {
      font-variation-settings: var(--font-variation-narrow-animationEnd) !important;
    }
  }
}