.gallery {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--spacing-gap);
  }
  li {
    grid-column: 1 / -1;
    position: relative;
  }
  img {
    display: block;
  }
}

.image {
  position: relative;
  opacity: 0;
  transform: translateY(40px);
  transition: all 1s .2s ease;
  &[data-inview=true] {
    opacity: 1;
    transform: translateY(0);
  }
}

.observer {
  position: absolute;
  top: 0;
  bottom: 0;
}

.caption {
  position: absolute;
  bottom: 0;
  right: 0;
  background: var(--color-black);
  color: var(--color-white);
  font-size: 12px;
  padding: 2px 6px;
  opacity: .6;
}


@media (min-width: 800px) {
  .gallery {
    ul {
      grid-template-columns: repeat(2, 1fr);
    }
    li {
      &.full {
        grid-column: span 2;
      }
      &.half {
        grid-column: span 1;
      }
    }
  }
}

@media (min-width: 1200px) {
  .gallery {
    ul {
      //grid-template-columns: repeat(3, 1fr);
    }
  }
}