.logo {
  h1 {
    margin: 0;
    font-size: inherit;
    font-weight: normal;
  }
  text-decoration: none;
}

.header {
  margin: 0 auto;
  padding: .5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background: lime;
  width: 100%;
  z-index: 1000;
  font-variation-settings: var(--font-variation-slim);
  font-size: 2rem;
  line-height: 1;
}

.main {
  margin: 0 auto;
  padding: 8rem 1rem 1rem;
}

.footer {
  min-height: 90vh;
  padding: 1rem;
}

.siteNav {
  button {
    display: none;
    font-size: inherit;
  }

  ul {
    font-size: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: 2rem;

    a {
      text-decoration: none;
    }
  }
}

@media (max-width: 800px) {
  .siteNav {
    button {
      display: block;
      font-size: 3rem;
      position: relative;
      z-index: 1001;
    }

    ul {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1000;
      background: #fff;
      transform: translateX(100%);

      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: var(--spacing-m);
      font-size: 2rem;
      padding: var(--spacing-sitepadding);

      &[data-show=true] {
        transform: translateX(0);
      }
    }
  }
}