.logo {
  position: relative;
  z-index: 1001;
  h1 {
    margin: 0;
    font-size: inherit;
    font-weight: normal;
  }
  text-decoration: none;

  span {
    &:nth-of-type(3) {
      font-variation-settings: var(--font-variation-slim);
    }
    &:nth-of-type(2) {
      font-variation-settings: var(--font-variation-mid);
    }
    &:nth-of-type(1) {
      font-variation-settings: var(--font-variation-wide);
    }
  }
}

.header {
  margin: 0 auto;
  padding: .5rem var(--spacing-sitepadding);
  height: var(--height-header);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background: var(--color-palette);
  width: 100%;
  z-index: 1000;
  font-variation-settings: var(--font-variation-slim);
  font-size: 1.6rem;
  line-height: 1;
  text-transform: uppercase;
  transition: all .6s ease;
}

.main {
  margin: 0 auto;
  padding: var(--height-header) 0 0;
  animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.footer {
  min-height: 100vh;
  padding-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: linear-gradient(transparent 50%, var(--color-palette));

  h1 {
    font-variation-settings: var(--font-variation-wide);
    text-transform: uppercase;
  }

  p {
    margin: 0 auto 2rem;
  }

  .contact {
    width: 100%;
    margin-bottom: 2rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2;
    font-variation-settings: var(--font-variation-slim);
  }

  .upcoming {
    align-self: flex-end;
  }
}

.siteNav {
  button {
    position: relative;
    z-index: 1001;
    outline: none;
    border: none;
    background: transparent;
    padding: 0;
    width: 2rem;
    height: 2rem;

    span {
      position: absolute;
      left: 0;
      width: 100%;
      height: 1px;
      background: currentColor;

      &:before,
      &:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 1px;
        background: currentColor;
      }
      &:before {
        top: -.5rem;
      }
      &:after {
        bottom: -.5rem;
      }
    }

    &[data-show=true] {
      span {
        background: transparent;
        &:before {
          top: auto;
          transform: rotate(-45deg);
        }
        &:after {
          bottom: auto;
          transform: rotate(45deg);
        }
      }
    }
    
    display: none;
  }

  ul {
    font-size: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: 0;

    li {
      &:after {
        content: "/";
        display: inline-block;
        margin: 0 .25em;
        font-variation-settings: var(--font-variation-mid);
      }
      &:nth-of-type(1) {
        font-variation-settings: var(--font-variation-slim);
      }
      &:nth-of-type(2) {
        font-variation-settings: var(--font-variation-mid);
      }
      &:nth-of-type(3) {
        font-variation-settings: var(--font-variation-wide);
      }
      &:last-of-type {
        &:after {
          display: none;
        }
      }
    }

    a {
      text-decoration: none;
    }
  }
}

@media (max-width: 800px) {
  .siteNav {
    button {
      display: block;
    }

    ul {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1000;
      background: var(--color-palette);
      transform: translateX(100%);

      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: var(--spacing-m);
      font-size: 2rem;
      padding: var(--spacing-sitepadding);

      &[data-show=true] {
        transform: translateX(0);
      }

      li {
        &:after {
          display: none;
        }
      }
    }
  }
}