.projects {
  margin-top: 2rem;
  ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--spacing-gap);
    width: 80%;
    max-width: 1200px;
  }

  li {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 3rem;
    background: radial-gradient(var(--color-palette) 20%, transparent 70%);

    &:hover {
      opacity: .9;
    }

    &:nth-of-type(even) {
      h2 {
        font-variation-settings: var(--font-variation-wide);
      }
    }
  }

  figure {
    grid-column: 1 / span 4;
    margin: 0 3rem;
  }

  h2 {
    grid-column: 1 / span 4;
    font-size: 4rem;
    font-variation-settings: var(--font-variation-slim);
    margin: .5rem 0 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-weight: normal;
  }

  p {
    grid-column: 2 / span 3;
  }

  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    text-indent: -9999px;
    z-index: 0;
  }

  @media (min-width: 1200px) {
    li {
      &:nth-of-type(even) {
        figure {
          grid-column: 2 / span 3;
        }
      
        h2 {
          grid-column: 2 / span 3;
        }
      
        p {
          grid-column: 2 / span 2;
        }
      }
    }
  
    figure {
      grid-column: 1 / span 3;
    }
  
    h2 {
      grid-column: 1 / span 3;
    }
  
    p {
      grid-column: 2 / span 2;
    }
  }

  @media (min-width: 1200px) {
    ul {
      //grid-template-columns: repeat(3, 1fr);
    }
  }
}

.year {
  font-size: 2.6rem;
  font-variation-settings:
    'wght' 100, /* 100	to 1000 */
    'wdth' 135, /* 25 to 151 */
    'opsz' 12, /* 8 to 144 */
    'GRAD' 0, /* -200 to 150 */
    'slnt' 0, /* -10 to 0 */
    'XTRA' 600, /* 323 to 603 */
    'XOPQ' 90, /* 27 to 175 */
    'YOPQ' 68, /* 25 to 135 */
    'YTLC' 520, /* 416 to 570 – lowercase height */
    'YTUC' 760, /* 528 to 760 – uppercase height */
    'YTAS' 820, /* 649 to 854 – ascender height */
    'YTDE' -280, /* -305 to -98 - descender height */
    'YTFI' 600; /* 560 to 788 */
}