.project {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 3rem;
  transition: all .3s ease;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: radial-gradient(var(--color-palette) 20%, transparent 70%);
    opacity: 0;
    transition: all 6s ease;
  }

  &[data-inview=true] {
    &:before {
      opacity: 1;
    }
  }


  figure {
    grid-column: 1 / span 4;
    margin: 0 3rem;

    img {
      width: 100%;
      height: auto;
    }
  }

  h2 {
    grid-column: 1 / span 4;
    font-size: 3rem;
    margin: .5rem 0 1rem;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    justify-content: space-between;
    font-weight: normal;
    transition: all .6s ease;
    position: relative;
  }

  p {
    grid-column: 2 / span 3;
  }

  &.wide {
    p {
      font-variation-settings: var(--font-variation-wide-animationEnd);
    }
  }
  &.normal {
    p {
      font-variation-settings: var(--font-variation-normal-animationEnd);
    }
  }
  &.narrow {
    p {
      font-variation-settings: var(--font-variation-narrow-animationEnd);
    }
  }

  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    text-indent: -9999px;
    z-index: 0;
  }

  .year {
    font-size: 1.6rem;
    font-variation-settings: var(--font-variation-wide-thin);
  }
  .research {
    font-size: var(--font-size-xs);
    font-variation-settings: var(--font-variation-wide);
    display: inline-block;
    position: absolute;
    right: 0;
    top: 2rem;
    background: var(--color-palette);
    padding: .25rem .5rem;
  }
}

.observer {
  position: absolute;
  top: 0;
  bottom: 0;
}

.gradientObserver {
  position: absolute;
  top: 80%;
  bottom: 0;
}

@media (min-width: 800px) {
  .project {
    h2 {
      font-size: 4.7rem;
    }
    .year {
      font-size: 2.6rem;
    }
    .research {
      top: 3rem;
    }
  }
}

@media (min-width: 1200px) {
  .project {
    &:nth-of-type(even) {
      figure {
        grid-column: 2 / span 3;
      }
    
      h2 {
        grid-column: 2 / span 3;
      }
    
      p {
        grid-column: 2 / span 2;
      }
      a {
        right: 0;
        left: 25%;
      }
    }
    figure {
      grid-column: 1 / span 3;
    }
  
    h2 {
      grid-column: 1 / span 3;
    }
  
    p {
      grid-column: 2 / span 2;
    }
    a {
      width: auto;
      left: 0;
      right: 25%;
    }
  }
}
