.about-content {
  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-start;
  gap: 2rem;

  max-width: 70rem;
  margin: 0 auto 3rem;

  figure {
    text-align: right;
    max-width: 400px;
  }
  img {
    display: block;
  }
}

.about-quotes {
  margin-bottom: 6rem;
}

@media (min-width: 800px) {
  .about-content {
    grid-template-columns: 1fr 1fr;

    figure {
      max-width: none;
    }
  }
}