:root {
  // fonts
  --font-main: 'Roboto Flex', sans-serif;
  --font-secondary: sans-serif;
  --font-heading: sans-serif;

  // font sizes
  --font-size-xs: .8rem;
  --font-size-s: 1rem;
  --font-size-m: 1.2rem;
  --font-size-l: 1.8rem;
  --font-size-xl: 2.4rem;
  --font-size-xxl: 3rem;

  // spacing
  --spacing-s: calc(var(--spacing-m) * 0.5);
  --spacing-m: 2rem;
  --spacing-l: calc(var(--spacing-m) * 2);
  --spacing-sitepadding: 1rem;
  --spacing-gap: 1rem;
  --border-width: 1px;
  --height-header: 2.4rem;

  // colors
  --color-black: #000;
  --color-white: #fff;

  --color-background: var(--color-white);
  --color-text: var(--color-black);
  --color-border: rgba(0, 0, 0, .6);
  --color-palette: lime;

  // font variation settings
  --font-variation-slim:
    'wght' 400, /* 100	to 1000 */
    'wdth' 25, /* 25 to 151 */
    'opsz' 10, /* 8 to 144 */
    'GRAD' 0, /* -200 to 150 */
    'slnt' 0, /* -10 to 0 */
    'XTRA' 420, /* 323 to 603 */
    'XOPQ' 90, /* 27 to 175 */
    'YOPQ' 68, /* 25 to 135 */
    'YTLC' 560, /* 416 to 570 – lowercase height */
    'YTUC' 720, /* 528 to 760 – uppercase height */
    'YTAS' 850, /* 649 to 854 – ascender height */
    'YTDE' -280, /* -305 to -98 - descender height */
    'YTFI' 600; /* 560 to 788 */
   --font-variation-mid:
    'wght' 400, /* 100	to 1000 */
    'wdth' 76, /* 25 to 151 */
    'opsz' 10, /* 8 to 144 */
    'GRAD' 0, /* -200 to 150 */
    'slnt' 0, /* -10 to 0 */
    'XTRA' 520, /* 323 to 603 */
    'XOPQ' 90, /* 27 to 175 */
    'YOPQ' 68, /* 25 to 135 */
    'YTLC' 560, /* 416 to 570 – lowercase height */
    'YTUC' 720, /* 528 to 760 – uppercase height */
    'YTAS' 850, /* 649 to 854 – ascender height */
    'YTDE' -280, /* -305 to -98 - descender height */
    'YTFI' 600; /* 560 to 788 */
  --font-variation-wide:
    'wght' 400, /* 100	to 1000 */
    'wdth' 151, /* 25 to 151 */
    'opsz' 10, /* 8 to 144 */
    'GRAD' 0, /* -200 to 150 */
    'slnt' 0, /* -10 to 0 */
    'XTRA' 603, /* 323 to 603 */
    'XOPQ' 90, /* 27 to 175 */
    'YOPQ' 68, /* 25 to 135 */
    'YTLC' 560, /* 416 to 570 – lowercase height */
    'YTUC' 720, /* 528 to 760 – uppercase height */
    'YTAS' 850, /* 649 to 854 – ascender height */
    'YTDE' -280, /* -305 to -98 - descender height */
    'YTFI' 600; /* 560 to 788 */
}